# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE / OS
.DS_Store
.idea/
.vscode/

# Local tooling
.tooling/
